@charset 'utf-8';

/**************************************************

	project:  Personal Portfolio
	author:   Nicola Hibbert
	url:	  http://nicolahibbert.com

/*************************************************/
//***************************** Global Variables */
//*************************************** Mixins */

/****************************************** HTML */
body { font: 16px/24px 'Helvetica Neue', Verdana, Arial, sans-serif; color: #333; width: 960px; margin: 50px auto 0; text-align: center; background: #eee; }

.accordion { position: relative; text-align: left; overflow: hidden }
.accordion ol { height: 100%; margin: 0; padding: 0; list-style-type: none }
.accordion li {}
.accordion li > h2 { 
	margin: 0; 
	position: absolute;
	background: black;
	color: white;
	z-index: 2;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 160px 160px;	
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: 160px 160px;
	-o-transform:rotate(-90deg);
	-o-transform-origin: 160px 160px;	
	transform:rotate(-90deg);
	transform-origin: 160px 160px;	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.accordion li > h2:hover { cursor: pointer }
.accordion li > div { height: 100%; position: absolute; top: 0; z-index: 1; overflow: hidden }

.accordion noscript { position: absolute; height: 100%; width: 100%; top: 0; left: 0; background: white }
.accordion noscript p { padding: 10px; margin: 0 }

/****************************************** Dark */
.dark { border: 10px solid #3e3e3e }
.dark ol {}
.dark li { background: black }



/***************************************** Light */
.light { }



/*************************************** Rounded */